body{
    padding: 0px 180px;
    display: flex;
    flex-direction: column;
}
footer{
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    padding: 20px;
}
footer div{
    
    color: #BDBDBD;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
footer div a{
    text-decoration: none; /* Remove underline */
    color: inherit;
}


.github{
    text-decoration-line: underline;
    font-weight: 700;
}
.heading{
    display: flex;
    align-items: start;
    padding: 60px 20px;

}
.headline1{
    width: 100%;
    color: #000;
    font-family: PT Serif, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.62px;
    
}
.headline2 h2{
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.heading p{
    height: 87px;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h2{
    margin: 0%;
}

.container{
    display: grid;
    gap: 10px 100px;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto ;
    padding: 40px 20px;
}
.card2{
    padding-top: 40%;
}
img{
    width: 100%;
    
}
.card-img p{
    margin: 0;
    font-size: smaller;
    white-space: nowrap;
    position: absolute;
    right: -20px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #000;
    font-family: PT Serif, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

}
.card-img{
    display: flex;
    align-items: start;
    position: relative;
}
.card-body h2{
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 20px 0;
}
@media   (max-width: 900px){
    .heading{
        display: flex;
        flex-direction: column;
    }
    body{
        padding: 0px 
    }
    .headline1{
        padding-bottom: 40px;
    }
    .headline2{
        padding: 20px 0;
    }
    .container{
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto ;
        column-gap: 60px;
    }
    .card2{
        padding:0px
    }
    .pair-card{
        padding-top: 40%;
    }
    .heading{
        padding-bottom: 0px;
    }
    
}